<md-content class="padding-top" ng-controller="orgTabServiciosController as vm">

    <div ng-show="vm.loadingServicios" layout="row" layout-align="center center">
        <md-progress-circular md-mode="indeterminate"
                              ng-disabled="!vm.loadingServicios"></md-progress-circular>
    </div>
    <md-list class="width-sm">
        <md-list-item ng-repeat="s in vm.servicios"
                      ng-hide="s.eliminado && vm.ocultarEliminados"
                      ng-click="vm.irAServicio(s)">
            <p ng-class="{ 'red-text': s.eliminado }"> {{s.parcelaId === null ? s.prodDisplay + ', parcela no especificada' : s.prodDisplay + ', parcela ' + s.parcelaDisplay}} </p>
            <span class="md-secondary">{{vm.momentInstance(s.fecha).format('DD/MM/YYYY')}}</span>
        </md-list-item>
    </md-list>

    <div ng-hide="vm.loadingServicios">
        <md-subheader class="md-no-sticky" ng-show="vm.servicios.length > 0">
            <span>Tiene {{vm.servicios.length}} servicios. Puede </span>
            <a href="" ng-click="vm.toggleMostrarEliminados()">{{vm.ocultarEliminados ? 'mostrar' : 'ocultar'}}</a> servicios eliminados,
            o también
            <a href="" ng-click="vm.nuevoServicio()">registrar un nuevo servicio realizado</a>.
        </md-subheader>
        <md-subheader class="md-no-sticky" ng-hide="vm.servicios.length > 0">
            <span>No tiene ningún servicio. </span><a href="" ng-click="vm.nuevoServicio()">Registre el primero</a>
        </md-subheader>
    </div>

</md-content>
