md-list-item.seleccionado {
    color: rgb(76, 175, 80) !important;
}

h3.seleccionado {
    color: rgb(76, 175, 80) !important;
    font-weight: 600 !important;
}

.scrollable-nav-content {
    position: absolute;
    top: 136px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    overflow: auto;
}

.scrollable-nav-content-without-top {
    position: absolute;
    top: 70px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    overflow: auto;
}
