.padding-all {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;

    /*padding: 5px, 40px, 5px, 40px;*/
}

.padding-top {
    padding-top: 10px;
}

md-chips.md-default-theme .md-chips, md-chips .md-chips {
     box-shadow: none !important;
}

md-autocomplete input:not(.md-input) {
    padding: 10px;
}

.width-md {
    max-width: 640px;
}

.width-sm {
    max-width: 480px;
}

.width-xs {
    max-width: 360px;
}


