<md-toolbar ng-controller="toolbarHeaderController as vm">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button"
                   ng-show="vm.mostrarSidenav"
                   hide-gt-sm 
                   ng-click="vm.toggleSideNav()"
                   aria-label="Toggle side nav">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <md-icon ng-click="vm.goTo('../../')"
                 style="cursor:pointer;"
                 md-svg-icon="agrobook-white"></md-icon>
        <h2 hide-gt-sm md-truncate><a href="../usuarios/index.html">&nbsp;&nbsp;{{vm.titulo}}</a></h2>
        <h2 hide-sm hide-xs md-truncate><a href="../../">&nbsp;&nbsp;Agrobook</a></h2>

        <span flex></span>

        <div hide-sm hide-xs>
            <md-button ng-click="vm.goTo('../ap/index.html')"
                       title="Archivos"
                       aria-label="Archivos">
                &nbsp;Ag. de Precisión
            </md-button>
            <!--<md-button ng-if="vm.mostrarSidenav"
                       ng-click="vm.goTo('../usuarios/index.html')"
                       title="Usuarios"
                       aria-label="Usuarios">
                &nbsp;Usuarios
            </md-button>-->
        </div>

        <div ng-include="'../common/userMenu/widget.html'"
             ng-controller="userMenuWidgetController as vm"></div>
    </div>
</md-toolbar>