<md-content>
    <form enctype="multipart/form-data" name="uploadForm">
        <!-- Add hidden attr to the input -->
        <div>
            <input id="{{fileInputId}}"
                   type="file"
                   multiple
                   hidden
                   onchange="angular.element(this).scope().prepareFiles(this)" />
        </div>

        <p style="margin-bottom: 0px;">
            {{header}} <span ng-show="units.length < 1">(sin archivo)</span>
            <md-button class="md-icon-button launch"
                       aria-label="Agregar archivos"
                       ng-click="addFiles()">
                <md-tooltip md-direction="top">Agregar archivos</md-tooltip>
                <ng-md-icon icon="add"></ng-md-icon>
            </md-button>
        </p>

        <md-list>
            <md-list-item ng-repeat="unit in units" class="md-2-line">
                <img ng-if="unit.isAPicture" ng-src="{{unit.iconUrl}}" class="md-avatar" alt="..." />
                <md-icon ng-if="!unit.isAPicture" md-svg-icon="{{unit.iconSvg}}"></md-icon>
                <div class="md-list-item-text">
                    <h3>
                        <ng-md-icon ng-show="unit.state === 'uploadFailed'" title="{{unit.errorMessage}}" style="color:red" icon="warning"></ng-md-icon>
                        <ng-md-icon ng-show="unit.state === 'uploaded' && unit.justUploaded" title="Carga completada" style="color:#4caf50" icon="check_circle"></ng-md-icon>
                        {{unit.name}}
                    </h3>
                    <div ng-switch="unit.state">
                        <p ng-switch-when="pending">
                            {{unit.formattedSize}}
                        </p>
                        <p ng-switch-when="uploadFailed">
                            {{unit.errorMessage}}
                        </p>
                        <p ng-switch-when="uploading">
                            {{unit.progress}}% de {{unit.formattedSize}} {{unit.waitingServer ? '- Esperando al servidor...' : ''}}
                        </p>
                        <p ng-switch-when="uploaded">
                            {{unit.formattedSize}}
                        </p>
                    </div>
                    <md-progress-linear ng-show="unit.state === 'uploading' || unit.state === 'uploadFailed'"
                                        md-mode="determinate"
                                        value="{{unit.progress}}"></md-progress-linear>
                </div>

                <md-button ng-show="unit.state === 'pending' || unit.state === 'uploadFailed'"
                           class="md-secondary md-icon-button launch md-primary"
                           aria-label="action"
                           ng-click="uploadFile(unit)">
                    <ng-md-icon icon="file_upload"></ng-md-icon>
                </md-button>
                <md-button ng-show="unit.state === 'pending' || unit.state === 'uploadFailed'"
                           class="md-secondary md-icon-button launch"
                           aria-label="action"
                           ng-click="removeFile(unit)">
                    <ng-md-icon icon="close"></ng-md-icon>
                </md-button>
                <md-button ng-show="unit.state === 'uploaded'"
                           title="Descargar..."
                           class="md-secondary md-icon-button launch md-primary"
                           aria-label="action"
                           ng-click="downloadFile(unit)">
                    <ng-md-icon icon="file_download"></ng-md-icon>
                </md-button>
                <md-button ng-show="unit.state === 'uploaded'"
                           class="md-secondary md-icon-button launch"
                           aria-label="action"
                           ng-click="showOptions($event, unit)">
                    <ng-md-icon icon="more_vert"></ng-md-icon>
                </md-button>
                <md-button ng-show="unit.state === 'uploading'"
                           class="md-secondary md-icon-button launch md-warn"
                           aria-label="action"
                           ng-disabled="unit.waitingServer"
                           ng-click="unit.stopUpload()">
                    <ng-md-icon icon="stop"></ng-md-icon>
                </md-button>
            </md-list-item>
        </md-list>
    </form>
</md-content>