<md-dialog aria-label="Precio Dialog" class="fullscreen-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{vm.servicio.tienePrecio ? 'Ajustar precio' : 'Fijar precio'}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancelar()" aria-label="cancel">
                <ng-md-icon icon="close"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">

            <form name="precioForm">
                <div layout-gt-sm="row">
                    <md-switch ng-model="vm.ajustarDesdeElTotal" aria-label="ajustar precio">
                        Ajustar precio desde el total
                    </md-switch>
                </div>

                <div class="width-xs">
                    <md-input-container class="md-block">
                        <label>{{vm.ajustarDesdeElTotal ? 'Precio total' : 'Precio por hectárea'}} (USD)</label>
                        <input ng-model="vm.precioInput"
                               name="precioInput"
                               required
                               style="text-align:right;">
                        <div ng-messages="precioForm.precioInput.$error" role="alert">
                            <div ng-message="" ng-hide="vm.precioInput">Debe ingresar un precio</div>
                        </div>
                    </md-input-container>
                </div>

                <p>Total de hectáreas: {{vm.servicio.hectareas}} ha</p>

                <h2>{{vm.ajustarDesdeElTotal ? 'Precio por hectárea' : 'Precio total'}}: <span class="red-text">{{vm.precioLabel}} $</span></h2>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank">
            More on Wikipedia
        </md-button>
        <span flex></span>
        <md-button ng-click="answer('not useful')">
            Not Useful
        </md-button>
        <md-button ng-click="answer('useful')">
            Useful
        </md-button>
    </md-dialog-actions>
</md-dialog>