<md-dialog class="fullscreen-dialog">

    <form name="nuevoUsuarioForm" ng-submit="vm.crearNuevoUsuario()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Nuevo usuario</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancelar()" aria-label="cancelar">
                    <ng-md-icon icon="close"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>

            <div class="padding-all">
                <div layout-gt-md="row">
                    <!-- Avatar -->
                    <md-input-container class="md-block" flex-gt-md>
                        <label>Imagen de perfil</label>
                        <md-select ng-model="vm.usuario.avatarUrl" name="avatar" required>
                            <md-option ng-repeat="url in vm.avatarUrls" ng-value="url">
                                <img style="height: 50px;" ng-src="{{url}}" alt="Imagen de perfil" />
                            </md-option>
                        </md-select>
                        <div ng-messages="nuevoUsuarioForm.avatar.$error">
                            <div ng-message="required">Debe elegir una imagen de perfil.</div>
                        </div>
                    </md-input-container>
                    <!-- Usuario -->
                    <md-input-container class="md-block" flex-gt-md>
                        <label>Usuario</label>
                        <input ng-model="vm.usuario.nombreDeUsuario" name="nombreDeUsuario" required />
                        <div ng-messages="nuevoUsuarioForm.nombreDeUsuario.$error">
                            <div ng-message="required">Debe elegir un nombre de usuario</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" ng-hide="vm.claimsLoaded">
                    <md-progress-circular md-mode="indeterminate"
                                          ng-disabled="vm.claimsLoaded"></md-progress-circular>
                    <p>&nbsp;&nbsp;&nbsp;Recuperando roles y permisos</p>
                </div>
                <div layout-gt-md="row" ng-show="vm.claimsLoaded">
                    <!-- Roles y permisos -->
                    <md-input-container class="md-block" flex-gt-md ng-cloak>
                        <label>Roles y permisos</label>
                        <md-select ng-model="vm.tipoDeCuenta" name="claims" required>
                            <md-option ng-repeat="claim in vm.claims" ng-value="claim" ng-click="vm.agregarClaim(claim)">
                                {{claim.display}} <ng-md-icon title="{{claim.info}}" icon="help_outline"></ng-md-icon>
                            </md-option>
                        </md-select>
                        <div ng-messages="nuevoUsuarioForm.claims.$error">
                            <div ng-message="required">Debe elegir al menos un rol.</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout-gt-md="row" ng-show="vm.claimsLoaded">
                    <md-chips ng-hide="vm.claimsSeleccionados.length < 1">
                        <md-chip ng-repeat="claim in vm.claimsSeleccionados">
                            {{claim.display}} <ng-md-icon icon="clear" ng-click="vm.quitarClaim(claim)" style="font-size: 10px; cursor:pointer"></ng-md-icon>
                        </md-chip>
                    </md-chips>
                </div>
                <div layout-gt-md="row">
                    <!-- Nombre para mostrar -->
                    <md-input-container class="md-block" flex-gt-md>
                        <label>Nombre para mostrar</label>
                        <input ng-model="vm.usuario.nombreParaMostrar" name="nombreParaMostrar" required />
                        <div ng-messages="nuevoUsuarioForm.nombreParaMostrar.$error">
                            <div ng-message="required">Debe especificar el nombre para mostrar</div>
                        </div>
                    </md-input-container>
                    <!-- Password -->
                    <md-input-container class="md-block" flex-gt-md>
                        <label>Contraseña</label>
                        <input ng-model="vm.usuario.password" name="password" required type="password" />
                        <div ng-messages="nuevoUsuarioForm.password.$error">
                            <div ng-message="required">Debe elegir una contraseña</div>
                        </div>
                    </md-input-container>
                </div>
            </div>

        </md-dialog-content>

        <md-dialog-actions layout="row">
            <div class="padding-all">
                <md-button ng-cloak type="submit" class="md-primary md-raised" ng-disabled="nuevoUsuarioForm.$invalid || vm.bloquearSubmit">
                    {{vm.submitLabel}}
                </md-button>
                <md-button ng-click="vm.cancelar()">Cancelar</md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>
