 <md-sidenav class="md-sidenav-left md-whiteframe-z2"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-sm')"
             ng-show="vm.mostrarSidenav">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Usuarios</h2>
            <div flex></div>
            <md-button class="md-icon-button"
                       hide-gt-sm
                       ng-click="vm.toggleSideNav()"
                       aria-label="Toggle side nav">
                <ng-md-icon icon="close"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content layout-padding ng-hide="vm.loaded">
        <div layout="row" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate"
                                  ng-disabled="vm.loaded"></md-progress-circular>
        </div>
    </md-content>
    <div layout-padding>
        <md-autocomplete md-search-text="vm.searchText"
                         md-items="item in vm.usuarios | filter: vm.searchText"
                         md-item-text="item.nombre"
                         md-min-length="100"
                         placeholder="Buscar">
            <md-not-found>
                Ninguno coincide con "{{vm.searchText}}".
            </md-not-found>
        </md-autocomplete>
    </div>

    <md-content class="scrollable-nav-content">
        <md-list>
            <!--Optional filter  | orderBy:'nombre'" -->
            <md-list-item ng-repeat="usuario in vm.usuarios | filter:vm.searchText"
                          ng-click="vm.seleccionarUsuario(usuario)"
                          ng-class="{'seleccionado': usuario === vm.usuarioSeleccionado }">
                <img ng-src="{{usuario.avatarUrl}}" alt="Imagen de perfil" style="height:40px" />
                &nbsp;{{usuario.nombreParaMostrar}}
            </md-list-item>
        </md-list>
    </md-content>
    <md-button title="Agregar nuevo usuario" class="md-fab md-fab-bottom-right" ng-click="vm.crearNuevoUsuario($event)" aria-label="Crear nuevo usuario">
        <ng-md-icon icon="add"></ng-md-icon>
    </md-button>
</md-sidenav>