<div layout="column" ng-controller="serviciosTabResumenController as vm" class="padding-top">

    <!-- Loading -->
    <div ng-show="vm.loading" layout="row" layout-align="center center">
        <md-progress-circular md-mode="indeterminate"
                              ng-disabled="!vm.loading"></md-progress-circular>
    </div>

    <!-- View -->
    <md-content ng-show="!vm.loading && vm.action === 'view'" class="width-sm">
        <p>
            El servicio se realizó a {{vm.servicio.parcelaDisplay === null ? 'una parcela todavía no especificada' : 'la parcela ' + vm.servicio.parcelaDisplay}} bajo el contrato "{{vm.servicio.contratoDisplay}}" con <a href="" ng-click="vm.goToOrg()">"{{vm.servicio.orgDisplay}}"</a>. El mismo fue completado el día {{vm.momentInstance(vm.servicio.fecha).format('DD/MM/YYYY')}}.
        </p>

        <!--Observaciones-->
        <p ng-if="vm.servicio.observaciones"><b>Observaciones:</b> {{vm.servicio.observaciones}}</p>

        <!-- Parcelas -->
        <p ng-if="vm.servicio.parcelaDisplay !== null">Total de hectáreas de la parcela {{vm.servicio.parcelaDisplay}}: <b>{{vm.servicio.hectareas}} ha</b></p>

        <!-- Control de datos basicos -->
        <p ng-if="vm.tienePermiso"
           ng-hide="vm.eliminando || vm.servicio.eliminado">Puede <a href="" ng-click="vm.enableEditMode()">actualizar</a> el servicio, o incluso, <a href="" ng-click="vm.eliminar()">eliminarlo</a>.</p>
        <p ng-show="vm.servicio.eliminado && !vm.eliminando && !vm.restaurando">Puede <a href="" ng-click="vm.restaurar()">restaurar</a> este servicio eliminado.</p>
        <p ng-show="vm.eliminando">Eliminando servicio...</p>
        <p ng-show="vm.restaurando">Restaurando servicio...</p>
    </md-content>

    <!-- Formulario -->
    <md-content ng-hide="vm.loading || vm.action === 'view'" layout-padding>
        <div layout-gt-xs="row">
            <md-input-container>
                <label>Organización</label>
                <md-select ng-model="vm.orgConContratosSeleccionada" required>
                    <md-option ng-repeat="dto in vm.orgsConContratos" ng-value="dto">
                        {{dto.org.display}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>Contrato</label>
                <md-select ng-model="vm.contratoSeleccionado" required>
                    <md-option ng-repeat="contrato in vm.orgConContratosSeleccionada.contratos" ng-value="contrato">
                        {{contrato.display}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container>
                <label>Fecha</label>
                <md-datepicker ng-model="vm.fechaSeleccionada"
                               ng-disabled="false"
                               required></md-datepicker>
            </md-input-container>
        </div>

        <div layout-gt-xs="row" class="width-sm">
            <md-input-container class="md-block" flex>
                <label>Observaciones</label>
                <textarea ng-model="vm.observacionesInput" md-maxlength="500" rows="2" md-select-on-focus></textarea>
            </md-input-container>
        </div>

        <div layout="row">
            <div>
                <md-button class="md-button md-primary md-raised"
                           ng-disabled="vm.submitting"
                           ng-click="vm.submit()">
                    {{ vm.action === 'new' ? 'Registrar nuevo servicio' : 'Actualizar datos básicos'}}
                </md-button>
            </div>
            <div>
                <md-button ng-click="vm.cancelar()" ng-disabled="vm.submitting" class="md-button">Cancelar</md-button>
            </div>
        </div>
    </md-content>

    <!-- Precio -->
    <div ng-show="!vm.loading && vm.action === 'view'">
        <md-content class="md-padding" layout-xs="column" layout="row" ng-if="!vm.loading && vm.servicio.tienePrecio">
            <div flex-xs flex-gt-xs="50" layout="column">
                <md-card md-theme="default" md-theme-watch>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Total: <b class="dark-red-text">{{vm.servicio.precioTotal}} $</b></span>
                            <span class="md-subhead">Por hectárea: <b class="dark-red-text">{{vm.servicio.precioPorHectarea}} $</b></span>
                            <span class="md-subhead"><a href="" ng-click="vm.fijarOAjustarPrecio($event, true)">Ajustar precio</a></span>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
            </div>
        </md-content>
        <md-content class="md-padding" layout-xs="column" layout="row" ng-if="!vm.loading && !vm.servicio.tienePrecio">
            <div flex-xs flex-gt-xs="50" layout="column">
                <md-card md-theme="'default'" md-theme-watch>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Precio no fijado</span>
                            <span class="md-subhead"><a href="" ng-click="vm.fijarOAjustarPrecio($event, false)">Fijar precio ahora</a></span>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
            </div>
        </md-content>
    </div>

    <!-- Archivos -->
    <div class="width-md" ng-if="vm.action != 'new'">
        <file-widget ng-hide="vm.loading" id-coleccion="vm.idColeccion" header="'Informe final'"></file-widget>
    </div>
</div>