<md-content ng-controller="prodTabServiciosController as vm">
    <div layout-gt-md="row">
        <div class="padding-top">
            <md-button class="md-button"
                       ng-hide="false"
                       ng-click="vm.nuevoServicio()">
                <ng-md-icon icon="add"></ng-md-icon>&nbsp;Nuevo servicio
            </md-button>
        </div>
    </div>

 <div ng-show="vm.loadingServicios" layout="row" layout-align="center center">
        <md-progress-circular md-mode="indeterminate"
                              ng-disabled="!vm.loadingServicios"></md-progress-circular>
    </div>
    <md-list class="width-sm">
        <md-list-item ng-repeat="s in vm.servicios"
                      ng-hide="s.eliminado && vm.ocultarEliminados"
                      ng-click="vm.irAServicio(s)">
            <p ng-class="{ 'red-text': s.eliminado }"> {{s.parcelaId === null ? 'Servicio sin parcela especificada' : 'Servicio en parcela ' + s.parcelaDisplay}} </p>
            <span class="md-secondary">{{vm.momentInstance(s.fecha).format('DD/MM/YYYY')}}</span>
        </md-list-item>
    </md-list>

    <div ng-hide="vm.loadingServicios">
        <md-subheader class="md-no-sticky" ng-show="vm.servicios.length > 0">
            <span>Tiene {{vm.servicios.length}} servicios. </span>
            <a href="" ng-click="vm.toggleMostrarEliminados()">{{vm.ocultarEliminados ? 'Mostrar' : 'Ocultar'}}</a> servicios eliminados.
        </md-subheader>
        <md-subheader class="md-no-sticky" ng-hide="vm.servicios.length > 0">
            <span>No tiene ningún servicio. </span><a href="" ng-click="vm.nuevoServicio()">Registre el primero</a>
        </md-subheader>
    </div>

</md-content>
